In [1]:
import keras

Using TensorFlow backend.

In [2]:
import pandas
from sklearn.utils import shuffle
import gensim
import numpy as np

In [3]:
raw_data = pandas.DataFrame.from_csv(path='../data/people_attributes.csv', index_col=None)
raw_data = raw_data.set_index('name', drop=False)
raw_data.head()

,name,occupation,description,gender
name,,,,
Barack Obama,Barack Obama,Politician,44th President of the United States of America,male
Barbara Boxer,Barbara Boxer,Politician,American politician,female
Bill Clinton,Bill Clinton,Politician,42nd President of the United States,male
Carly Fiorina,Carly Fiorina,Politician,American corporate executive and politician,female
Clint Eastwood,Clint Eastwood,Actor,actor and director from the United States,male

In [4]:
raw_data['gender'].replace('female', 0, inplace=True)
raw_data['gender'].replace('male', 1, inplace=True)
raw_data.head()

,name,occupation,description,gender
name,,,,
Barack Obama,Barack Obama,Politician,44th President of the United States of America,1
Barbara Boxer,Barbara Boxer,Politician,American politician,0
Bill Clinton,Bill Clinton,Politician,42nd President of the United States,1
Carly Fiorina,Carly Fiorina,Politician,American corporate executive and politician,0
Clint Eastwood,Clint Eastwood,Actor,actor and director from the United States,1

In [5]:
name_and_gender = raw_data.drop(['occupation','description'], axis=1)
#name_and_gender = name_and_gender.reset_index(inplace=True)
name_and_gender.head()

                          name  gender
name
Barack Obama      Barack Obama       1
Barbara Boxer    Barbara Boxer       0
Bill Clinton      Bill Clinton       1
Carly Fiorina    Carly Fiorina       0
Clint Eastwood  Clint Eastwood       1

In [6]:
name_and_gender = shuffle(name_and_gender)
name_and_gender.head()

                            name  gender
name
Ashok Vemuri        Ashok Vemuri       1
Satya Prabhakar  Satya Prabhakar       1
David S. Taylor  David S. Taylor       1
Lisa Murkowski    Lisa Murkowski       0
Ben Affleck          Ben Affleck       1

In [7]:
word2vec = gensim.models.KeyedVectors.load_word2vec_format('../data/GoogleNews-vectors-negative300.bin', binary=True)

In [132]:
name_and_gender.index.values

array(['J. Michael Pearson', 'Paul Hermelin', 'James J. Greco',
       'Tatsumi Kimishima', 'Daymond John', 'Jeb Bush', 'John McCain',
       'Morgan Freeman', 'Joe Donnelly', 'Vittorio Colao', 'Butch Otter',
       'Jean-Pascal Tricoire', 'Greg Abbott', 'Wilfred Kiboro',
       'Herbert Fisk Johnson III', 'Dick Durbin',
       'Grandhi Mallikarjuna Rao', 'Dianne Feinstein', 'Mitch McConnell',
       'Ralph Lauren', 'Pete Ricketts', 'William R. Klesse',
       'Chris DeWolfe', 'Bob Menendez', 'Kate Winslet', 'Klaus Kleinfeld',
       'Sandra Bullock', 'Indra Nooyi', 'Syed B. Ali', 'James Goodnight',
       'Stuart Gulliver', 'Tom Cotton', 'Shantanu Narayen',
       'Rex Tillerson', 'Barbara Boxer', 'Mark Wahlberg', 'Mike Crapo',
       'Brian Sandoval', 'Tom Cruise', 'Mike Huckabee', 'Barbara Mikulski',
       'Hugh Jackman', 'Richard B. Handler', 'Terry Gou',
       'Shelley Moore Capito', 'Orrin Hatch', 'Dennis Daugaard',
       'Benedict Cumberbatch', 'Bernie Sanders', 'Rich Lesser',
       'Elizabeth Warren', 'Cory Booker', 'Mazie Hirono',
       'Claire McCaskill', 'Kay Ivey', 'Ben van Beurden', 'Michael Bennet',
       'Garo H. Armen', 'Douglas R. Oberhelman', 'Jeremy Renner',
       'Pierre Nanterme', 'Timothy J. Sloan', 'Russell Crowe',
       'Gregory Wasson', 'Nathan Deal', 'Bill Nelson', 'David Vitter',
       'Jim Risch', 'Maria Cantwell', 'Michael Corbat', 'Chris Sununu',
       'Barry Meyer', 'Stephen Siegel', 'Paul D. House', 'Jim Inhofe',
       'Christopher McCormick', 'Lisa Su', 'Kevin Johnson',
       'Joseph R. Swedish', 'Gerald Hassell', 'Alan Joyce', 'Mark Kirk',
       'Paul Reiche III', 'Chuck Schumer', 'James Lankford', 'Jim Justice',
       'Keanu Reeves', 'Elon Musk', 'Julia Roberts', 'Patty Murray',
       'Stuart Rose', 'Ed Markey', 'Jim Webb', 'Pat Roberts',
       'James E. Thompson', 'Roy Blunt', 'Meg Whitman', 'Lon R. Greenberg',
       'David Simon', 'David C. Novak', 'Donald Trump', 'Matt Damon',
       'Sundar Pichai', 'Henry McMaster', 'Satya Prabhakar',
       'David S. Taylor', 'Hillary Clinton', 'Bill Haslam',
       'Susana Martinez', 'Kevin Costner', 'Chris Christie', 'Liam Neeson',
       'Mike S. Zafirovski', 'Ryan Gosling', 'Steve Easterbrook',
       'Laura J. Alber', 'Christian Bale', 'Larry Hogan', 'John Barrasso',
       'Tidjane Thiam', 'Bernie Ecclestone', 'Will Smith', 'Gary Rodkin',
       'Gary Herbert', 'Jane Silber', 'Dannel Malloy', 'Andrew Witty',
       'Michael Dell', 'Felipe Gozon', 'Paul Allen', 'Kushal Pal Singh',
       'Satya Nadella', 'Dan Coats', 'Ben Cardin', 'Mark Zuckerberg',
       'Joseph Gordon-Levitt', 'Denise Morrison', 'Tom Udall',
       'Robert Redford', 'Dieter Zetsche', 'Rand Paul', 'Mikael Ohlsson',
       'Rajeev Suri', 'Stefano Pessina', 'Muhtar Kent', 'Dwayne Johnson',
       'Sheldon Adelson', 'Brian L. Roberts', 'Richard Shelby',
       'Mel Karmazin', 'David C. Novak', 'Angelina Jolie', 'Jeff Noddle',
       'Kirsten Gillibrand', 'Kumar Mangalam Birla', 'Mike Enzi',
       'Martin Heinrich', 'Angus King', 'Rick Santorum', 'Chris Coons',
       'Al Franken', 'Jeff Bezos', 'Joe Manchin', 'Debbie Stabenow',
       'Richard Burr', 'Helge Lund', 'Daniel Craig', 'John Hoeven',
       'Mark Dayton', 'Tim Armstrong', 'Mike Rounds', 'Andrew House',
       'Krishnakumar Natarajan', 'Michel Combes', 'Gerald L. Storch',
       'Tom Carper', 'Carly Fiorina', 'Rodger O. Riney', 'Amy Klobuchar',
       'Hiroshi Okuda', 'Kerry Killinger', 'Ho Ching', 'Rick Scott',
       'John A. Kaneb', 'Andrew Cuomo', 'George Clooney',
       'Leonardo DiCaprio', 'Mila Kunis', 'Randall L. Stephenson',
       'David Thodey', 'Denzel Washington', 'Jeff Flake', 'Harry Reid',
       'Margot Robbie', 'Abigail Johnson', 'John Rishton', 'Masayoshi Son',
       'Phil Bryant', 'Dieter Zetsche', 'Vijay K. Thadani', 'Dean Heller',
       'Brian Schatz', 'Chuck Robbins', 'Doug Parker', 'Jake Gyllenhaal',
       'Diego Della Valle', 'Roy Cooper', 'Bharat Desai',
       'Carol Meyrowitz', 'Doug Ducey', 'Rick Snyder', 'Brian Moynihan',
       'Al-Waleed bin Talal', 'Jerry Brown', 'Anil Ambani',
       'Tammy Baldwin', 'Jack Dorsey', 'Bill Clinton', 'Naguib Sawiris',
       'Frank Appel', 'Eric Greitens', 'Hubert Joly', 'Bill McDermott',
       'Clint Eastwood', 'Chuck Rozanski', 'Deb Fischer', 'Larry Ellison',
       'Tom L. Ward', 'Eric Holcomb', 'Donato A. Montanaro', 'Jerry Moran',
       'Charlie Baker', 'David Perdue', 'Scott Flanders',
       'Jonathan I. Schwartz', 'John Kasich', 'Tim Scott', 'Gina Raimondo',
       'J. Clifford Hudson', 'Anne Hathaway', 'Sherrod Brown',
       'Joni Ernst', 'Toxey Haas', 'Asa Hutchinson', 'Matt Mead',
       'Peter Lynch', 'Matthew McConaughey', 'Tapan Singhel', 'Joe Biden',
       'Donald Trump', 'Scarlett Johansson', 'Thom Tillis', 'Mary Fallin',
       'Sergio Marchionne', 'John Thune', 'John Strangfeld',
       'Heidi Heitkamp', 'Yochanan Vollach', 'Tom Hanks', 'Mark Parker',
       'Warren Buffett', 'Henry McKinnell', 'Frank Blake',
       'Michael B. Jordan', 'Brian Krzanich', 'Brad Pitt',
       'Marillyn Hewson', 'Leslie Moonves', 'Jay Inslee', 'John Cornyn',
       'Stephen A. Schwarzman', 'Nancy Pelosi', 'Jeanne Shaheen',
       'Philip I. Kent', 'Madhusudhan Rao Lagadapati', 'Bill Nuti',
       'Lowell McAdam', 'Mukesh Ambani', 'Barack Obama',
       'Michael Fassbender', 'Antony Jenkins', 'Mark Weinberger',
       'Jeff Sessions', 'Rob Portman', 'Scott Etzler', 'Gregg Steinhafel',
       'Terry McAuliffe', 'Chris T. Sullivan', 'Lamar Alexander',
       'Roger Wicker', 'James Franco', 'Mark Ruffalo', 'Chuck Grassley',
       'Marco Rubio', 'C Vijayakumar', 'Dennis Muilenburg', 'Devin Wenig',
       'Norbert Reithofer', 'Robert Noel', 'Walter Kwok', 'Ron Wyden',
       'G. V. Prasad', 'Sean Penn', 'David Ige', 'Emma Stone',
       'Paul LePage', 'Pat Toomey', 'Jude Law', 'John Bel Edwards',
       'Richard H. Anderson', 'Kim Reynolds', 'Johnny Depp',
       'Gordon Nixon', 'Kelly Ayotte', 'Jay S. Fishman', 'Lindsey Graham',
       'Meryl Streep', 'Jennifer Aniston', 'Richard Blumenthal',
       'Jon Tester', 'Matt Bevin', 'Kate Brown', 'Samuel L. Jackson',
       'Jeff Merkley', 'Anna Kendrick', 'Tom Hardy', 'Doug McMillon',
       'Ben Affleck', 'Tim Cook', 'Ashok Vemuri', 'Mark Warner',
       'Charlize Theron', "Francisco D'Souza", 'Jennifer Lawrence',
       'Gary C. Kelly', 'Patrick Leahy', 'Thad Cochran', 'Sumner Redstone',
       'Bill Cassidy', 'John Thain', 'Ben Carson', 'Dilip Shanghvi',
       'John P. Surma', 'John Boozman', "Martin O'Malley",
       'Johnny Isakson', 'Isaac Larian', 'Lincoln Chafee',
       'Kenneth Chenault', 'Steve Daines', 'Jesse Eisenberg',
       'Evan G. Greenberg', 'Bill Gates', 'Tom Enders', 'Hans Vestberg',
       'Sergio Ermotti', 'Lloyd Blankfein', 'Bob Corker', 'Nicole Kidman',
       'Chua Sock Koong', 'Sheldon Whitehouse', 'Richard Fairbank',
       'Mitchell Baker', 'Tim Kaine', 'Abidali Neemuchwala',
       'Richard Notebaert', 'Ben Sasse', 'Phebe Novakovic',
       'Frederick W. Smith', 'Bruce Rauner', 'Cory Gardner',
       'John Hickenlooper', 'Lisa Murkowski', 'Natalie Portman',
       'David M. Cote', 'Steve Jobs', 'Hadley Barrett', 'Ted Cruz',
       'Dominic Barton', 'Marissa Mayer', 'Ross McEwan', 'John Cryan',
       'Steve Odland', 'Daniel Vasella', 'Bob Dudley', 'Sam Brownback',
       'Janet L. Robinson', 'Susan Collins', 'Howard Schultz'], dtype=object)

In [8]:
def _name_not_has_vec(name):
    try:
        word2vec.word_vec(name.replace(' ','_'))
        return False
    except:
        return True

In [9]:
truncated_name_and_gender = name_and_gender.drop([name for name in name_and_gender.index.values if _name_not_has_vec(name)])

In [10]:
truncated_name_and_gender.describe()

           gender
count  241.000000
mean     0.804979
std      0.397041
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      1.000000

In [11]:
truncated_name_and_gender.head()

                            name  gender
name
Ashok Vemuri        Ashok Vemuri       1
Satya Prabhakar  Satya Prabhakar       1
Lisa Murkowski    Lisa Murkowski       0
Ben Affleck          Ben Affleck       1
Orrin Hatch          Orrin Hatch       1

In [12]:
name_and_vector = truncated_name_and_gender.drop(['gender'], axis=1)
name_and_vector.head()

                            name
name
Ashok Vemuri        Ashok Vemuri
Satya Prabhakar  Satya Prabhakar
Lisa Murkowski    Lisa Murkowski
Ben Affleck          Ben Affleck
Orrin Hatch          Orrin Hatch

In [13]:
def _get_vector(row):
    return word2vec.word_vec(row.replace(' ','_')).flatten()

In [14]:
name_and_vector = name_and_vector.applymap(_get_vector)
name_and_vector.head()

                                                              name
name
Ashok Vemuri     [-0.124023, 0.0986328, 0.0114136, 0.0576172, -...
Satya Prabhakar  [0.0639648, 0.0332031, -0.0834961, 0.0162354, ...
Lisa Murkowski   [-0.306641, -0.263672, -0.239258, 0.231445, -0...
Ben Affleck      [-0.0241699, 0.0913086, -0.310547, 0.198242, -...
Orrin Hatch      [0.0378418, 0.0874023, -0.0524902, 0.271484, -...

In [15]:
name_and_vector.columns = ['vector']
name_and_vector.head()

                                                            vector
name
Ashok Vemuri     [-0.124023, 0.0986328, 0.0114136, 0.0576172, -...
Satya Prabhakar  [0.0639648, 0.0332031, -0.0834961, 0.0162354, ...
Lisa Murkowski   [-0.306641, -0.263672, -0.239258, 0.231445, -0...
Ben Affleck      [-0.0241699, 0.0913086, -0.310547, 0.198242, -...
Orrin Hatch      [0.0378418, 0.0874023, -0.0524902, 0.271484, -...

In [16]:
vectors = name_and_vector.vector.apply(pandas.Series)
vectors.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
name,,,,,,,,,,,,,,,,,,,,,
Ashok Vemuri,-0.124023,0.098633,0.011414,0.057617,-0.031006,-0.112793,0.134766,-0.125000,0.013367,0.051514,...,-0.003662,0.165039,-0.063477,0.038086,0.046387,0.074707,0.074219,0.113281,-0.007996,-0.002060
Satya Prabhakar,0.063965,0.033203,-0.083496,0.016235,0.104980,-0.156250,0.033691,-0.017944,0.040283,0.034668,...,0.007111,-0.023071,-0.073242,0.019775,0.053711,-0.055908,0.072754,0.109863,0.048828,-0.041016
Lisa Murkowski,-0.306641,-0.263672,-0.239258,0.231445,-0.129883,0.083496,0.103027,0.223633,0.073730,0.227539,...,-0.136719,-0.332031,0.066895,-0.507812,0.419922,-0.235352,0.125000,0.175781,0.085449,0.349609
Ben Affleck,-0.024170,0.091309,-0.310547,0.198242,-0.306641,-0.054932,-0.289062,-0.496094,0.119629,0.125977,...,0.086426,0.189453,-0.100098,-0.093262,0.253906,-0.298828,-0.026855,-0.132812,-0.219727,0.027100
Orrin Hatch,0.037842,0.087402,-0.052490,0.271484,-0.168945,0.063965,0.182617,0.253906,-0.092285,0.032471,...,0.005798,0.001839,0.145508,-0.102051,0.022339,0.054443,-0.068359,-0.050293,0.083008,0.176758

In [17]:
vectors.values

array([[-0.12402344,  0.09863281,  0.01141357, ...,  0.11328125,
        -0.00799561, -0.00205994],
       [ 0.06396484,  0.03320312, -0.08349609, ...,  0.10986328,
         0.04882812, -0.04101562],
       [-0.30664062, -0.26367188, -0.23925781, ...,  0.17578125,
         0.08544922,  0.34960938],
       ...,
       [-0.0246582 ,  0.38867188,  0.04711914, ...,  0.23144531,
         0.31445312, -0.23144531],
       [-0.25      ,  0.37109375, -0.16992188, ...,  0.19140625,
         0.30859375, -0.21386719],
       [-0.06542969,  0.16503906, -0.23242188, ...,  0.125     ,
        -0.16894531,  0.5234375 ]], dtype=float32)

In [18]:
genders = pandas.Series(truncated_name_and_gender['gender'])
just_binary_genders = np.array(genders)
just_binary_genders

array([1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0])

In [19]:
train_data = vectors[:200].values
train_labels = just_binary_genders[:200]
test_data = vectors[200:].values
test_labels = just_binary_genders[200:]
train_data.shape

(200, 300)

In [20]:
model = keras.models.Sequential([
    keras.layers.Dense(1, input_shape=(300,), activation='sigmoid'),
    ])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 1)                 301
=================================================================
Total params: 301
Trainable params: 301
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['accuracy'])

In [22]:
model.fit(train_data, train_labels, verbose=2, epochs=100, validation_data=(test_data, test_labels))

Train on 200 samples, validate on 41 samples
Epoch 1/100
2s - loss: 0.2315 - acc: 0.6250 - val_loss: 0.2288 - val_acc: 0.7073
Epoch 2/100
0s - loss: 0.2117 - acc: 0.7200 - val_loss: 0.2097 - val_acc: 0.8049
Epoch 3/100
0s - loss: 0.1940 - acc: 0.7650 - val_loss: 0.1937 - val_acc: 0.8049
Epoch 4/100
0s - loss: 0.1809 - acc: 0.7950 - val_loss: 0.1803 - val_acc: 0.7805
Epoch 5/100
0s - loss: 0.1696 - acc: 0.8050 - val_loss: 0.1705 - val_acc: 0.7805
Epoch 6/100
0s - loss: 0.1612 - acc: 0.8050 - val_loss: 0.1631 - val_acc: 0.7805
Epoch 7/100
0s - loss: 0.1544 - acc: 0.8050 - val_loss: 0.1572 - val_acc: 0.7805
Epoch 8/100
0s - loss: 0.1496 - acc: 0.8050 - val_loss: 0.1524 - val_acc: 0.7805
Epoch 9/100
0s - loss: 0.1455 - acc: 0.8050 - val_loss: 0.1484 - val_acc: 0.7805
Epoch 10/100
0s - loss: 0.1419 - acc: 0.8100 - val_loss: 0.1445 - val_acc: 0.7805
Epoch 11/100
0s - loss: 0.1386 - acc: 0.8100 - val_loss: 0.1413 - val_acc: 0.7805
Epoch 12/100
0s - loss: 0.1359 - acc: 0.8100 - val_loss: 0.1386 - val_acc: 0.7805
Epoch 13/100
0s - loss: 0.1333 - acc: 0.8100 - val_loss: 0.1358 - val_acc: 0.7805
Epoch 14/100
0s - loss: 0.1309 - acc: 0.8100 - val_loss: 0.1330 - val_acc: 0.7805
Epoch 15/100
0s - loss: 0.1285 - acc: 0.8100 - val_loss: 0.1305 - val_acc: 0.7805
Epoch 16/100
0s - loss: 0.1263 - acc: 0.8100 - val_loss: 0.1282 - val_acc: 0.7805
Epoch 17/100
0s - loss: 0.1242 - acc: 0.8100 - val_loss: 0.1260 - val_acc: 0.7805
Epoch 18/100
0s - loss: 0.1222 - acc: 0.8100 - val_loss: 0.1237 - val_acc: 0.8049
Epoch 19/100
0s - loss: 0.1201 - acc: 0.8100 - val_loss: 0.1215 - val_acc: 0.8049
Epoch 20/100
0s - loss: 0.1181 - acc: 0.8150 - val_loss: 0.1195 - val_acc: 0.8049
Epoch 21/100
0s - loss: 0.1160 - acc: 0.8200 - val_loss: 0.1170 - val_acc: 0.8049
Epoch 22/100
0s - loss: 0.1139 - acc: 0.8300 - val_loss: 0.1144 - val_acc: 0.8293
Epoch 23/100
0s - loss: 0.1117 - acc: 0.8350 - val_loss: 0.1124 - val_acc: 0.8293
Epoch 24/100
0s - loss: 0.1098 - acc: 0.8450 - val_loss: 0.1106 - val_acc: 0.8293
Epoch 25/100
0s - loss: 0.1078 - acc: 0.8450 - val_loss: 0.1089 - val_acc: 0.8293
Epoch 26/100
0s - loss: 0.1060 - acc: 0.8500 - val_loss: 0.1071 - val_acc: 0.8293
Epoch 27/100
0s - loss: 0.1042 - acc: 0.8550 - val_loss: 0.1056 - val_acc: 0.8537
Epoch 28/100
0s - loss: 0.1025 - acc: 0.8600 - val_loss: 0.1043 - val_acc: 0.8537
Epoch 29/100
0s - loss: 0.1007 - acc: 0.8600 - val_loss: 0.1028 - val_acc: 0.8537
Epoch 30/100
0s - loss: 0.0990 - acc: 0.8650 - val_loss: 0.1013 - val_acc: 0.8537
Epoch 31/100
0s - loss: 0.0973 - acc: 0.8650 - val_loss: 0.0999 - val_acc: 0.8537
Epoch 32/100
0s - loss: 0.0956 - acc: 0.8800 - val_loss: 0.0986 - val_acc: 0.8780
Epoch 33/100
0s - loss: 0.0939 - acc: 0.8900 - val_loss: 0.0973 - val_acc: 0.8780
Epoch 34/100
0s - loss: 0.0924 - acc: 0.8950 - val_loss: 0.0961 - val_acc: 0.8780
Epoch 35/100
0s - loss: 0.0909 - acc: 0.9000 - val_loss: 0.0950 - val_acc: 0.8780
Epoch 36/100
0s - loss: 0.0895 - acc: 0.9000 - val_loss: 0.0937 - val_acc: 0.8780
Epoch 37/100
0s - loss: 0.0880 - acc: 0.9050 - val_loss: 0.0926 - val_acc: 0.8780
Epoch 38/100
0s - loss: 0.0867 - acc: 0.9050 - val_loss: 0.0914 - val_acc: 0.9024
Epoch 39/100
0s - loss: 0.0853 - acc: 0.9050 - val_loss: 0.0901 - val_acc: 0.9268
Epoch 40/100
0s - loss: 0.0840 - acc: 0.9050 - val_loss: 0.0887 - val_acc: 0.9268
Epoch 41/100
0s - loss: 0.0827 - acc: 0.9150 - val_loss: 0.0876 - val_acc: 0.9268
Epoch 42/100
0s - loss: 0.0814 - acc: 0.9200 - val_loss: 0.0865 - val_acc: 0.9268
Epoch 43/100
0s - loss: 0.0802 - acc: 0.9200 - val_loss: 0.0854 - val_acc: 0.9268
Epoch 44/100
0s - loss: 0.0789 - acc: 0.9250 - val_loss: 0.0844 - val_acc: 0.9268
Epoch 45/100
0s - loss: 0.0778 - acc: 0.9300 - val_loss: 0.0835 - val_acc: 0.9268
Epoch 46/100
0s - loss: 0.0767 - acc: 0.9300 - val_loss: 0.0825 - val_acc: 0.9268
Epoch 47/100
0s - loss: 0.0756 - acc: 0.9350 - val_loss: 0.0816 - val_acc: 0.9268
Epoch 48/100
0s - loss: 0.0745 - acc: 0.9400 - val_loss: 0.0808 - val_acc: 0.9268
Epoch 49/100
0s - loss: 0.0735 - acc: 0.9450 - val_loss: 0.0802 - val_acc: 0.9268
Epoch 50/100
0s - loss: 0.0725 - acc: 0.9450 - val_loss: 0.0791 - val_acc: 0.9268
Epoch 51/100
0s - loss: 0.0716 - acc: 0.9450 - val_loss: 0.0782 - val_acc: 0.9268
Epoch 52/100
0s - loss: 0.0706 - acc: 0.9450 - val_loss: 0.0774 - val_acc: 0.9268
Epoch 53/100
0s - loss: 0.0697 - acc: 0.9450 - val_loss: 0.0765 - val_acc: 0.9268
Epoch 54/100
0s - loss: 0.0687 - acc: 0.9450 - val_loss: 0.0755 - val_acc: 0.9268
Epoch 55/100
0s - loss: 0.0678 - acc: 0.9500 - val_loss: 0.0746 - val_acc: 0.9268
Epoch 56/100
0s - loss: 0.0669 - acc: 0.9500 - val_loss: 0.0739 - val_acc: 0.9268
Epoch 57/100
0s - loss: 0.0661 - acc: 0.9500 - val_loss: 0.0732 - val_acc: 0.9268
Epoch 58/100
0s - loss: 0.0652 - acc: 0.9500 - val_loss: 0.0723 - val_acc: 0.9268
Epoch 59/100
0s - loss: 0.0645 - acc: 0.9500 - val_loss: 0.0715 - val_acc: 0.9268
Epoch 60/100
0s - loss: 0.0636 - acc: 0.9550 - val_loss: 0.0707 - val_acc: 0.9268
Epoch 61/100
0s - loss: 0.0629 - acc: 0.9550 - val_loss: 0.0701 - val_acc: 0.9268
Epoch 62/100
0s - loss: 0.0621 - acc: 0.9550 - val_loss: 0.0694 - val_acc: 0.9268
Epoch 63/100
0s - loss: 0.0614 - acc: 0.9550 - val_loss: 0.0690 - val_acc: 0.9268
Epoch 64/100
0s - loss: 0.0607 - acc: 0.9550 - val_loss: 0.0683 - val_acc: 0.9268
Epoch 65/100
0s - loss: 0.0600 - acc: 0.9550 - val_loss: 0.0677 - val_acc: 0.9268
Epoch 66/100
0s - loss: 0.0593 - acc: 0.9550 - val_loss: 0.0671 - val_acc: 0.9268
Epoch 67/100
0s - loss: 0.0587 - acc: 0.9600 - val_loss: 0.0664 - val_acc: 0.9268
Epoch 68/100
0s - loss: 0.0580 - acc: 0.9600 - val_loss: 0.0658 - val_acc: 0.9268
Epoch 69/100
0s - loss: 0.0573 - acc: 0.9600 - val_loss: 0.0653 - val_acc: 0.9268
Epoch 70/100
0s - loss: 0.0566 - acc: 0.9600 - val_loss: 0.0647 - val_acc: 0.9268
Epoch 71/100
0s - loss: 0.0560 - acc: 0.9700 - val_loss: 0.0642 - val_acc: 0.9268
Epoch 72/100
0s - loss: 0.0554 - acc: 0.9700 - val_loss: 0.0637 - val_acc: 0.9268
Epoch 73/100
0s - loss: 0.0547 - acc: 0.9700 - val_loss: 0.0632 - val_acc: 0.9268
Epoch 74/100
0s - loss: 0.0542 - acc: 0.9700 - val_loss: 0.0627 - val_acc: 0.9268
Epoch 75/100
0s - loss: 0.0536 - acc: 0.9700 - val_loss: 0.0621 - val_acc: 0.9268
Epoch 76/100
0s - loss: 0.0530 - acc: 0.9700 - val_loss: 0.0616 - val_acc: 0.9268
Epoch 77/100
0s - loss: 0.0526 - acc: 0.9700 - val_loss: 0.0610 - val_acc: 0.9268
Epoch 78/100
0s - loss: 0.0519 - acc: 0.9700 - val_loss: 0.0607 - val_acc: 0.9268
Epoch 79/100
0s - loss: 0.0514 - acc: 0.9700 - val_loss: 0.0603 - val_acc: 0.9268
Epoch 80/100
0s - loss: 0.0508 - acc: 0.9700 - val_loss: 0.0597 - val_acc: 0.9268
Epoch 81/100
0s - loss: 0.0503 - acc: 0.9700 - val_loss: 0.0592 - val_acc: 0.9268
Epoch 82/100
0s - loss: 0.0498 - acc: 0.9700 - val_loss: 0.0588 - val_acc: 0.9268
Epoch 83/100
0s - loss: 0.0493 - acc: 0.9700 - val_loss: 0.0585 - val_acc: 0.9268
Epoch 84/100
0s - loss: 0.0488 - acc: 0.9700 - val_loss: 0.0581 - val_acc: 0.9268
Epoch 85/100
0s - loss: 0.0483 - acc: 0.9700 - val_loss: 0.0577 - val_acc: 0.9268
Epoch 86/100
0s - loss: 0.0479 - acc: 0.9700 - val_loss: 0.0574 - val_acc: 0.9268
Epoch 87/100
0s - loss: 0.0474 - acc: 0.9700 - val_loss: 0.0570 - val_acc: 0.9268
Epoch 88/100
0s - loss: 0.0469 - acc: 0.9700 - val_loss: 0.0566 - val_acc: 0.9268
Epoch 89/100
0s - loss: 0.0465 - acc: 0.9700 - val_loss: 0.0561 - val_acc: 0.9268
Epoch 90/100
0s - loss: 0.0460 - acc: 0.9700 - val_loss: 0.0557 - val_acc: 0.9268
Epoch 91/100
0s - loss: 0.0456 - acc: 0.9700 - val_loss: 0.0553 - val_acc: 0.9268
Epoch 92/100
0s - loss: 0.0452 - acc: 0.9700 - val_loss: 0.0549 - val_acc: 0.9268
Epoch 93/100
0s - loss: 0.0448 - acc: 0.9700 - val_loss: 0.0546 - val_acc: 0.9268
Epoch 94/100
0s - loss: 0.0443 - acc: 0.9700 - val_loss: 0.0542 - val_acc: 0.9512
Epoch 95/100
0s - loss: 0.0439 - acc: 0.9700 - val_loss: 0.0539 - val_acc: 0.9512
Epoch 96/100
0s - loss: 0.0435 - acc: 0.9700 - val_loss: 0.0536 - val_acc: 0.9512
Epoch 97/100
0s - loss: 0.0431 - acc: 0.9700 - val_loss: 0.0533 - val_acc: 0.9512
Epoch 98/100
0s - loss: 0.0427 - acc: 0.9700 - val_loss: 0.0530 - val_acc: 0.9512
Epoch 99/100
0s - loss: 0.0423 - acc: 0.9700 - val_loss: 0.0527 - val_acc: 0.9512
Epoch 100/100
0s - loss: 0.0420 - acc: 0.9700 - val_loss: 0.0525 - val_acc: 0.9512

In [23]:
name_and_vector.head()

                                                            vector
name
Ashok Vemuri     [-0.124023, 0.0986328, 0.0114136, 0.0576172, -...
Satya Prabhakar  [0.0639648, 0.0332031, -0.0834961, 0.0162354, ...
Lisa Murkowski   [-0.306641, -0.263672, -0.239258, 0.231445, -0...
Ben Affleck      [-0.0241699, 0.0913086, -0.310547, 0.198242, -...
Orrin Hatch      [0.0378418, 0.0874023, -0.0524902, 0.271484, -...

In [60]:
model.predict(vectors.iloc[0].values)

ValueError: Error when checking : expected dense_1_input to have shape (None, 300) but got array with shape (300, 1)

In [69]:
def predict_one(vec):
    return model.predict(np.array([vec]))

In [70]:
test_predict = name_and_vector[200:].vector.apply(predict_one)
test_predict

name
Donald Trump              [[0.953093]]
Lamar Alexander           [[0.931888]]
Mark Ruffalo              [[0.853989]]
Kerry Killinger           [[0.929111]]
Steve Odland              [[0.909877]]
Mike Crapo                [[0.859091]]
Jude Law                  [[0.735987]]
Mel Karmazin              [[0.953074]]
John Thune                 [[0.90291]]
Brian Krzanich            [[0.608313]]
Joe Manchin               [[0.857959]]
Barbara Mikulski          [[0.133742]]
Julia Roberts             [[0.316151]]
Amy Klobuchar             [[0.495746]]
Kirsten Gillibrand        [[0.538292]]
Mila Kunis                [[0.343925]]
Ryan Gosling              [[0.662597]]
Gina Raimondo             [[0.581526]]
Klaus Kleinfeld           [[0.987544]]
Chuck Schumer             [[0.830377]]
Larry Ellison             [[0.956021]]
Jim Risch                 [[0.918059]]
Barack Obama              [[0.802563]]
Bill Haslam               [[0.928334]]
Helge Lund                [[0.889088]]
Brian Sandoval            [[0.838323]]
Jim Inhofe                 [[0.90012]]
Krishnakumar Natarajan    [[0.790848]]
Nathan Deal               [[0.890537]]
Rex Tillerson             [[0.973993]]
Jon Tester                [[0.859396]]
Kumar Mangalam Birla       [[0.94684]]
Dilip Shanghvi            [[0.862202]]
Patty Murray              [[0.197792]]
John Hickenlooper         [[0.901437]]
Joe Biden                  [[0.86089]]
Felipe Gozon              [[0.701425]]
Charlize Theron           [[0.292951]]
Henry McKinnell           [[0.929995]]
Gary Rodkin               [[0.842141]]
Meryl Streep              [[0.333164]]
Name: vector, dtype: object